body {
  margin: 0;
  background-color: lightblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.topPage {
  width: 90vw;
  height: 22vh;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  margin-left: 90px;
}
.topPage .box {
  width: 150px;
  height: 150px;
  background-color: darkcyan;
  margin-left: 50px;
}
.topPage .list {
  width: 50px;
  height: 50px;
  background-image: url("./dessertpicture/Group 10.png");
  background-repeat: no-repeat;
}

.firstPage {
  width: 100vw;
  height: 50vh;
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
  margin-left: 90px;
}
.firstPage .lefttext {
  width: 400px;
  height: 500px;
  text-align: center;
  margin-left: 50px;
}
.firstPage .lefttext p {
  font-size: 16pt;
}
.firstPage .rightpicture {
  background-image: url("./dessertpicture/1.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.onsalePage {
  width: 90vw;
  height: 50vh;
  margin-top: 200px;
  text-align: center;
  margin-left: 90px;
}
.onsalePage span {
  font-size: 40pt;
}
.onsalePage .picturearea {
  width: 90vw;
  height: 45vh;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.onsalePage .picturearea .pic1 {
  background-image: url("./dessertpicture/2.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
.onsalePage .picturearea .pic1 p {
  width: 80px;
  height: 30px;
  font-size: 16pt;
  color: aliceblue;
  background-color: darkcyan;
  position: absolute;
  top: 240px;
  left: 75px;
}
.onsalePage .picturearea .pic2 {
  background-image: url("./dessertpicture/3.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
.onsalePage .picturearea .pic2 p {
  width: 80px;
  height: 30px;
  font-size: 16pt;
  color: aliceblue;
  background-color: darkcyan;
  position: absolute;
  top: 240px;
  left: 75px;
}
.onsalePage .picturearea .pic3 {
  background-image: url("./dessertpicture/4.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
.onsalePage .picturearea .pic3 p {
  width: 80px;
  height: 30px;
  font-size: 16pt;
  color: aliceblue;
  background-color: darkcyan;
  position: absolute;
  top: 240px;
  left: 75px;
}

.newsPage {
  width: 90vw;
  height: 90vh;
  margin-top: 150px;
  text-align: center;
  margin-left: 90px;
}
.newsPage span {
  font-size: 40pt;
}
.newsPage .cardarea {
  width: 90vw;
  height: 60vh;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.newsPage .cardarea .card1 {
  width: 330px;
  height: 400px;
  background-color: aliceblue;
}
.newsPage .cardarea .card1 h3 {
  margin: 0;
  margin-right: 10px;
  margin-top: 10px;
}
.newsPage .cardarea .card1 p {
  width: 250px;
  margin-left: 40px;
}
.newsPage .cardarea .card1 .btn {
  background-color: darkcyan;
  color: aliceblue;
  text-decoration: none;
  border-radius: 3px;
  font-size: 14pt;
}
.newsPage .cardarea .card2 {
  width: 330px;
  height: 400px;
  background-color: aliceblue;
}
.newsPage .cardarea .card2 h3 {
  margin: 0;
  margin-right: 10px;
  margin-top: 10px;
}
.newsPage .cardarea .card2 p {
  width: 250px;
  margin-left: 40px;
}
.newsPage .cardarea .card2 .btn {
  background-color: darkcyan;
  color: aliceblue;
  text-decoration: none;
  border-radius: 3px;
  font-size: 14pt;
}
.newsPage .cardarea .card3 {
  width: 330px;
  height: 400px;
  background-color: aliceblue;
}
.newsPage .cardarea .card3 h3 {
  margin: 0;
  margin-right: 10px;
  margin-top: 10px;
}
.newsPage .cardarea .card3 p {
  width: 250px;
  margin-left: 40px;
}
.newsPage .cardarea .card3 .btn {
  background-color: darkcyan;
  color: aliceblue;
  text-decoration: none;
  border-radius: 3px;
  font-size: 14pt;
}
.newsPage button {
  width: 150px;
  height: 40px;
  font-size: 26pt;
  background-color: darkcyan;
  color: aliceblue;
  border-radius: 5px;
  border-style: none;
  box-shadow: 3px 3px 3px darkgray;
}

.arrivalPage {
  width: 80vw;
  height: 50vh;
  display: flex;
  margin-top: 100px;
  position: relative;
}
.arrivalPage:after {
  content: "";
  width: 500px;
  height: 400px;
  background-color: darkcyan;
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 5px;
}
.arrivalPage .left {
  width: 1500px;
  height: 300px;
  background-image: url(./dessertpicture/8.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 200px;
}
.arrivalPage .right .text {
  width: 280px;
  height: 300px;
  text-align: center;
  background-color: aliceblue;
  padding: 20px;
}

.footer {
  width: 100vw;
  height: 10vh;
  background-color: darkcyan;
  margin-top: 100px;
}/*# sourceMappingURL=homework.css.map */